<h1> Edit Employee </h1>
<%= form_with model: @employee do |form| %>
    <div>
        <%= form.label :name %> <br>
        <%= form.text_field :name %> 
        <% @employee.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div><br>

    <div>
        <%= form.label :trigram %> <br>
        <%= form.text_field :trigram %>
        <% @employee.errors.full_messages_for(:trigram).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div><br>

    <div>
        <%= form.label :brand %> <br>
        <%= form.text_field :brand %>
        <% @employee.errors.full_messages_for(:brand).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div><br>

    <div>
        <%= form.label :email %> <br>
        <%= form.text_field :email %>
        <% @employee.errors.full_messages_for(:email).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div><br>

    <%= form.submit %>
<% end %>